<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>86</string>
		<key>desc</key>
		<string>CN</string>
	</dict>
    <dict>
        <key>text</key>
        <string>61</string>
        <key>desc</key>
        <string>AU</string>
    </dict><dict>
        <key>text</key>
        <string>852</string>
        <key>desc</key>
        <string>HK</string>
    </dict><dict>
        <key>text</key>
        <string>62</string>
        <key>desc</key>
        <string>MC</string>
    </dict><dict>
        <key>text</key>
        <string>91</string>
        <key>desc</key>
        <string>IN</string>
    </dict><dict>
        <key>text</key>
        <string>81</string>
        <key>desc</key>
        <string>JP</string>
    </dict><dict>
        <key>text</key>
        <string>82</string>
        <key>desc</key>
        <string>KR</string>
    </dict><dict>
        <key>text</key>
        <string>853</string>
        <key>desc</key>
        <string>MO</string>
    </dict><dict>
        <key>text</key>
        <string>60</string>
        <key>desc</key>
        <string>MY</string>
    </dict><dict>
        <key>text</key>
        <string>63</string>
        <key>desc</key>
        <string>PH</string>
    </dict><dict>
        <key>text</key>
        <string>65</string>
        <key>desc</key>
        <string>SG</string>
    </dict><dict>
        <key>text</key>
        <string>66</string>
        <key>desc</key>
        <string>TH</string>
    </dict><dict>
        <key>text</key>
        <string>886</string>
        <key>desc</key>
        <string>TW</string>
    </dict><dict>
        <key>text</key>
        <string>1</string>
        <key>desc</key>
        <string>UM</string>
    </dict><dict>
        <key>text</key>
        <string>355</string>
        <key>desc</key>
        <string>AL</string>
    </dict><dict>
        <key>text</key>
        <string>213</string>
        <key>desc</key>
        <string>DZ</string>
    </dict><dict>
        <key>text</key>
        <string>93</string>
        <key>desc</key>
        <string>AF</string>
    </dict><dict>
        <key>text</key>
        <string>54</string>
        <key>desc</key>
        <string>AR</string>
    </dict><dict>
        <key>text</key>
        <string>971</string>
        <key>desc</key>
        <string>AE</string>
    </dict><dict>
        <key>text</key>
        <string>297</string>
        <key>desc</key>
        <string>AW</string>
    </dict>
</array>
</plist>
