<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>EUR</string>
        <key>desc</key>
        <string>€</string>
	</dict>
    <dict>
        <key>text</key>
        <string>GBP</string>
        <key>desc</key>
        <string>￡</string>
    </dict>
    <dict>
        <key>text</key>
        <string>SGD</string>
        <key>desc</key>
        <string>S$</string>
    </dict>
    <dict>
        <key>text</key>
        <string>IDR</string>
        <key>desc</key>
        <string>Rps</string>
    </dict>
    <dict>
        <key>text</key>
        <string>USD</string>
        <key>desc</key>
        <string>$</string>
    </dict>
    <dict>
        <key>text</key>
        <string>TWD</string>
        <key>desc</key>
        <string>NT$</string>
    </dict>
    <dict>
        <key>text</key>
        <string>THB</string>
        <key>desc</key>
        <string>฿</string>
    </dict>
    <dict>
        <key>text</key>
        <string>AUD</string>
        <key>desc</key>
        <string>AUD</string>
    </dict>
    <dict>
        <key>text</key>
        <string>PHP</string>
        <key>desc</key>
        <string>₱</string>
    </dict>
    <dict>
        <key>text</key>
        <string>MYR</string>
        <key>desc</key>
        <string>RM</string>
    </dict>
    <dict>
        <key>text</key>
        <string>KRW</string>
        <key>desc</key>
        <string>₩</string>
    </dict>
    <dict>
        <key>text</key>
        <string>LAK</string>
        <key>desc</key>
        <string>₭</string>
    </dict>
    <dict>
        <key>text</key>
        <string>CNY</string>
        <key>desc</key>
        <string>￥</string>
    </dict>
    <dict>
        <key>text</key>
        <string>HKD</string>
        <key>desc</key>
        <string>HK$</string>
    </dict>
    <dict>
        <key>text</key>
        <string>JPY</string>
        <key>desc</key>
        <string>￥</string>
    </dict>
    <dict>
        <key>text</key>
        <string>VND</string>
        <key>desc</key>
        <string>₫</string>
    </dict>
    
</array>
</plist>
